body { margin: 0; }
canvas { width: 100%; height: 100% }

/*
#text {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;

    color: #fff;
    background: radial-gradient(circle at 100%, #0000, #0000 50%, #000 75%, #000 75%);
}
*/

#container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.scroller {
    z-index: 1
}

.camera-circle {
    /* a huge area for the camera to circle around the monument */
    /*height: 100vh;*/
    margin: 200vh;
    height: 100vh;
}

#activePillar {
    position: fixed;
    top: 30px;
    left: 80px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #fff;


    #year {
        font-family: Rosario;
        font-size: 96px;
        line-height: 116px;
        text-align: right;
    }
    .measurements {

        .measurement {



            h4, h5, h6 {
                margin: 0;
            }
            h4 {
                font-size: 48px;
                line-height: 56px;
            }
            .label {
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;

                h5 {
                    font-size: 18px;
                    line-height: 21px;
                }
                h6 {
                    font-size: 18px;
                    line-height: 21px;
                    color: #8A8A8A;
                }
            }
        }
    }

    .notes {
        /* In The Graduate, one of the top movies of 1968, Dustin Hoffman’s character was urged by an older acquaintance to make a career in plastics. Audiences cringed along with Hoffman at what they saw as misplaced enthusiasm for an industry that, rather than being full of possibilities, was a symbol of cheap conformity and superficiality. */

        font-size: 18px;
        line-height: 21px;
    }


    // sizing

    display: flex;
    align-items: flex-end;
    width: 600px;

    .measurement {
        text-align: right;
    }
    #year { 
        text-align: right;
    }
    .measurements, .notes {
    }
    .notes {
        margin: 1.5em 0 0 1.5em;
    }

}

.scroller {
    div {
        width: 200px;
        background: red;
        border: 10px solid green;
    }
    div:last-child {
        margin-bottom: 101vh; // this is a nasty hack to get around the last focus issue
    }
}

#monumentTitle {
    position: fixed;
    top: 100px;
    left: 100px;
    color: #fff;
    opacity: 1;
    transition: 1s

    .hidden {
        opacity: 0;
    }
}
